@use "../abstracts/variables.scss";

.dark-mode {
  header {
    background-color: variables.$main-black;
  }
  body {
    background-color: variables.$main-blue;
  }
  .sec h1,
  p {
    color: variables.$main-white;
  }
  footer {
    background-color: variables.$main-grey;
  }
}

@media (prefers-color-scheme: dark) {
  header {
    background-color: variables.$main-black;
  }
  body {
    background-color: variables.$main-blue;
  }
  .sec h1,
  p {
    color: variables.$main-white;
  }
  footer {
    background-color: variables.$main-grey;
  }
}

.light-mode {
  header {
    background-color: variables.$main-blue;
  }
  body {
    background-color: variables.$dark-white;
  }
  .sec h1,
  p {
    color: #000;
  }
  footer {
    background-color: variables.$light-blue;
  }
}
