@use "../variables.scss";

.nav-mobile-container {
  display: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: variables.$main-black;
  position: relative;
  min-height: 100px;
}
.logo {
  font-size: 2rem;
  color: variables.$main-white;
  padding: 2rem;
  text-decoration: none;
}
header nav {
  ul {
    list-style: none;
    display: flex;
  }
  li {
    padding: 1rem;
  }
  a {
    font-size: 1.4rem;
    color: variables.$main-white;
    text-decoration: none;
  }
  a:hover {
    color: #af9f9f;
  }
  a:active {
    color: variables.$main-white;
  }
}

#hamburger {
  display: none;
}
#hamburger:hover {
  cursor: pointer;
}
@media all and (max-width: 800px) {
  .nav-desktop-container {
    display: none;
  }
  #hamburger {
    display: flex;
    font-size: 1.4rem;
    padding: 1rem;
    color: variables.$main-white;
  }
  .nav-mobile-container {
    width: 40%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    background-color: variables.$main-grey;
  }
  .nav-mobile {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    padding: 0.5rem;
  }
  #close {
    float: right;
    color: variables.$main-white;
    font-size: 1.4em;
  }
  #close:hover {
    cursor: pointer;
  }
}
@media all and (max-width: 600px) {
  .logo {
    font-size: 1.7rem;
    padding: 1rem;
  }
  .nav-mobile-container {
    width: 70%;
  }
}
@media all and (max-width: 400px) {
  .nav-mobile-container {
    width: 100%;
  }
  .logo {
    font-size: 1.3rem;
  }
}
