@use "../abstracts/keyframes";
@use "../abstracts/mixins";
@use "../abstracts/variables";

@property --color1 {
  syntax: "<color>";
  inherits: true;
  initial-value: yellow;
}
@property --color2 {
  syntax: "<color>";
  inherits: true;
  initial-value: blue;
}

.animation-box {
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid #000;
  background-color: yellow;
  animation-name: changeBackgroundColor;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  margin-top: 50px;
  padding: 1rem;
  margin-bottom: 50px;
}

.animation-flex {
  display: flex;
}

.ani-width {
  width: 50%;
  margin: 0 auto;
}
.animation1 {
  @include mixins.animationBox();
  @include mixins.widthAndHeight(30px, 30px);
}

.animation2 {
  @include mixins.animationBox();
  @include mixins.widthAndHeight(15px, 15px);
}

.animation3 {
  @include mixins.animationBox();
  @include mixins.widthAndHeight(40px, 10px);
}

.animation4 {
  @include mixins.animationBox();
  @include mixins.widthAndHeight(70px, 100px);
}

.animation5 {
  @extend.animation3;
}

.animation6 {
  @extend.animation2;
}

.animation7 {
  @include mixins.animationBox();
  @include mixins.widthAndHeight(10px, 50px);
}

.animation8 {
  @extend.animation7;
}

.animation9 {
  @include mixins.animationBox();
  @include mixins.widthAndHeight(40px, 10px);
}

.animation10 {
  @extend.animation9;
}

.ani-text {
  width: 50%;
  margin: 5% auto;
  padding: 0.6rem 0.6rem;
  h1 {
    text-align: center;
    margin-bottom: 1rem;
  }
}

.btn {
  margin: 1em auto 0;
  padding: 0.6em 1.2em;
  display: block;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 1.5rem;
  background: linear-gradient(50deg, var(--color1), var(--color2));
  color: #000;
  animation: linearGradient 8s infinite alternate-reverse;
}

.btn:hover {
  cursor: pointer;
  animation: rotateEl 0.3s linear infinite alternate, scaleEl 0.4s linear;
}

.btn:active {
  animation: rotateEl 2s;
}

#hidden {
  margin-top: 3rem;
  border: 5px solid #000;
  padding: 1rem;
  background-color: beige;
  min-height: 100px;
  h2 {
    text-align: center;
    margin-bottom: 0.7rem;
  }
}
#hidden:hover {
  animation: scaleEl 2s forwards;
}

.text-color {
  transition: color 0.3s;
}
.text-color:hover {
  animation: glitterText 4s infinite;
  cursor: pointer;
}
.hover-color {
  color: red;
}
.disco-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#disco {
  width: 200px;
  height: 200px;
  margin-top: 2.4rem;
}
#disco:hover {
  cursor: pointer;
}

.animation-wrapper {
  border: 10px solid variables.$main-blue;
  width: 80%;
  margin: 0 auto;
  z-index: 2;
}

@media all and (max-width: 800px) {
  .ani-text {
    width: 70%;
  }
}

@media all and (max-width: 600px) {
  .animation-box {
    width: 90%;
  }
  .ani-text {
    width: 90%;
  }
}
