@use "../abstracts/keyframes";
@use "../abstracts/mixins";

.animation-box {
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid #000;
  background-color: yellow;
  animation-name: changeBackgroundColor;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  margin-top: 50px;
  padding: 1rem;
  margin-bottom: 50px;
}

.animation-flex {
  display: flex;
}

.ani-width {
  width: 50%;
  margin: 0 auto;
}
.animation1 {
  @include mixins.animationBox();
  @include mixins.widthAndHeight(30px, 30px);
}

.animation2 {
  @include mixins.animationBox();
  @include mixins.widthAndHeight(15px, 15px);
}

.animation3 {
  @include mixins.animationBox();
  @include mixins.widthAndHeight(40px, 10px);
}

.animation4 {
  @include mixins.animationBox();
  @include mixins.widthAndHeight(70px, 100px);
}

.animation5 {
  @extend.animation3;
}

.animation6 {
  @extend.animation2;
}

.animation7 {
  @include mixins.animationBox();
  @include mixins.widthAndHeight(10px, 50px);
}

.animation8 {
  @extend.animation7;
}

.animation9 {
  @include mixins.animationBox();
  @include mixins.widthAndHeight(40px, 10px);
}

.animation10 {
  @extend.animation9;
}

@media all and (max-width: 600px) {
  .animation-box {
    width: 90%;
  }
}
