@use "../abstracts/mixins";

.chart-container {
  width: 40%;
  margin-bottom: 100px;
}

.chart-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hOne {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2.3rem;
}
.hTwo {
  margin-bottom: 80px;
}

@media all and (max-width: 800px) {
  .hOne {
    font-size: 1.2rem;
  }
  .hTwo {
    font-size: 1rem;
  }
  .chart-container {
    width: 100%;
  }
}
