@use "../abstracts/variables.scss";

.cloud-wrapper {
  position: relative;
}
.info-wrapper {
  display: flex;
  justify-content: center;
}
.index-text {
  z-index: 1;
  position: absolute;
  top: 0;
  color: variables.$main-white;
  width: 50%;
}
.cloud {
  width: 100%;
  height: 100vh;
}
