@use "../abstracts/variables.scss";
@use "../abstracts/mixins";
@use "../layout/colorModes.scss";

.sass-section {
  padding: 0.5rem 0.5rem;
  margin: 1rem;
  background-color: variables.$main-white;
  width: 40%;
  border-radius: 5px;
}
.sass-section h1,
.sass-section-two h2 {
  text-align: center;
  margin-bottom: 2rem;
}
.sass-section-two {
  @extend .sass-section;
  background-color: variables.$dark-white;
  margin-bottom: 120px;
}
.list {
  width: 90%;
  margin: 0 auto;
}
.non-dot {
  list-style: none;
  font-weight: bold;
}
.sass-container {
  margin-top: 50px;
}

@media all and (max-width: 1100px) {
  .sass-section,
  .sass-section-two {
    width: 60%;
  }
}
@media all and (max-width: 800px) {
  .sass-section,
  .sass-section-two {
    width: 70%;
  }
}
@media all and (max-width: 500px) {
  .sass-section,
  .sass-section-two {
    width: 90%;
  }
}
