@keyframes colorTransition {
  0% {
    background-color: blue;
    left: 0;
  }
  25% {
    left: 10px;
  }
  50% {
    background-color: yellow;
    left: 20px;
  }
  75% {
    left: 10px;
  }
  100% {
    background-color: blue;
    left: 0;
  }
}

@keyframes changeBackgroundColor {
  0% {
    background-color: yellow;
  }
  100% {
    background-color: blue;
  }
}
