@use "../abstracts/variables.scss";

@mixin sectionMix() {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.5rem;
}

@mixin flexContainer() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin marginTopBottom($top, $bottom) {
  margin-top: $top;
  margin-bottom: $bottom;
}

@mixin animationBox {
  position: relative;
  background-color: #181818;
  margin: 0 auto;
  margin-top: 100px;
  animation-name: colorTransition;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
