//Colors
$main-black: #181818;
$main-blue: #184357;
$light-blue: lighten($main-blue, 10%);
$main-grey: #686161;
$main-white: #dacfcf;
$light-black: lighten($main-black, 20%);
$button-color: #798b97;
$light-grey: lighten($main-grey, 20%);
